*, *:after, *:before {
  outline: none;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  height: inherit;
  font-family: var(--font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-color: var(--main-bg-color);
}

header {
  box-shadow: var(--box-shadow);
  z-index: 1001;
}

#root {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: var(--theme-change-transition);
  min-height: 100vh;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.ps {
  position: sticky;
  top: 0;
  left: 0;
}

a {
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  font-size: var(--fsz-normal);
}

a.bl-l {
  color: var(--primary-color);
  border-radius: 5px;
}

/* a:not(.except_under)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: .1s;
} */

/* a:not(.except_under):hover::after,
a:not(.except_under):focus::after,
a:not(.except_under).active::after {
  opacity: 1;
  transition: .1s;
} */

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button, .input_button {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  font-size: var(--fsz-normal);
  background-color: var(--accent-color);
  transition: .1s;
  cursor: pointer;
  color: #fff;
}

button:active, .input_button:active {
  transition: .1s;
  opacity: .8;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Sans-Pro';
  src: local('Sans-Pro'), url(./fonts/SourceSansPro-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Sans-Pro-Bold';
  src: url(./fonts/SourceSansPro-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Sans-Pro-Black';
  src: local('Sans-Pro'), url(./fonts/SourceSansPro-Black.ttf) format('ttf');
}

/* Modelica */
@font-face {
  font-family: 'Modelica';
  src: local('BwModelica'), url(./fonts/SourceSansPro-Black.ttf) format('ttf');
}

:root {
  --font: 'Roboto';

  --primary-color: #0c8c59;
  --primary-text-color: #ffffff;

  --theme-change-transition: 1s;

  --main-link-bg-color: #defde9;
  --main-link-color: #0C8C59;
  --main-bg-color: #ffffff;
  --main-bg-triller-color: #EBEBEB;
  --main-text-color: #000000;
  --main-hint-color: #575757;
  --main-danger-color: rgb(252, 66, 66);

  --secondary-color: #ffffff;
  --secondary-text-color: #000000;

  --dark-color: #212121;
  --dark-triller-color: #2f2e2e;
  --dark-hint-color: #e8e8e8;
  --dark-text-color: #ffffff;
  --light-color: #ffffff;
  --light-triller-color: #EBEBEB;
  --light-hint-color: #575757;
  --light-text-color: #000000;

  --blue: #0C8CFF;
  --yellow: #F4FF20;

  --padding: 5px;

  --fsz-thin: 13px;
  --fsz-normal: 17px;
  --fsz-medium: 19px;
  --fsz-big: 22px;
  --fsz-bold: 25px;
  --fsz-extra-bold: 39px;

  --accent-color: #ff9400;

  --box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);
}

.alw-light {
  color: var(--light-text-color);
}

.logo_font {
  font-family: 'Roboto';
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

input:not(input[type="checkbox"]) {
  padding: 10px;
  min-width: 200px;
  font-size: var(--fsz-normal); 
  font-family: var(--font);
  border-radius: 5px;
  border: 1px solid var(--main-hint-color);
  transition: .2s;
}

input:not(input[type="checkbox"]):focus {
  transition: .2s;
  box-shadow: inset 0 0 0 1px #303030, 0 0 0 1px rgb(255 255 255 / 40%), 0 0 0 2px var(--main-hint-color);
}

.input_cmp {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
}

.input_cmp > span {
  font-family: var(--font);
  font-size: var(--fsz-thin);
  font-weight: 600;
  padding: 5px 0px;
  color: var(--main-hint-color);
}

.input_warning.input_warning  {
  color: var(--main-danger-color);
}

.icon.icon.icon {
  width: 30px;
  height: 30px;
}

.slide_icon.slide_icon.slide_icon {
  width: 60px;
  height: 60px;
}

.project_slider {
  width: 600px;
}

.project_slider .react-multi-carousel-list {
  height: inherit;
}

.slider {
  animation: fade-in .3s linear;
}

.react-multi-carousel-list .react-multiple-carousel__arrow.react-multiple-carousel__arrow.react-multiple-carousel__arrow {
  border-radius: 50%;
  height: 43px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee_image {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  width: 600px;
}

.section {
  padding: 30px 0px;
}

.container {
  height: inherit;
}

.card {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  padding: 10px;
  color: var(--main-text-color);
  transition: var(--theme-change-transition);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.card img {
  height: auto;
  object-fit: cover;
}

.subtitle {
  margin: 10px 0px;
  line-height: 25px;
  max-width: 60%;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.fs-t {
  font-size: var(--fsz-thin);
}

.fs-n {
  font-size: var(--fsz-normal);
}

.fs-m {
  font-size: var(--fsz-medium);
}

.fs-b {
  font-size: var(--fsz-big);
}

.fs-eb {
  font-size: var(--fsz-extra-bold)
}

.taj {
  text-align: justify;
}

.min-ttl {
  font-family: var(--font);
  font-size: var(--fsz-big);
  font-family: var(--font);
  font-weight: 600;
}

.bl-bg {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.tr-bg {
  padding: 20px 0px;
  background-color: var(--main-bg-triller-color);
  color: var(--main-text-color);
  transition: var(--theme-change-transition);
}

.pd-lr {
  padding-left: var(--padding); 
  padding-right: var(--padding); 
}

.pd-tb {
  padding-top: var(--padding); 
  padding-bottom: var(--padding); 
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
  align-items: center;
}

.ais {
  align-items: start;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.tac {
  text-align: center;
}

.mla.mla {
  margin-left: auto;
}

.ttl_main {
  text-align: center;
  margin: 10px 10px 30px 0px;
  font-weight: 600;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 20px;
}

.social_icons {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--light-color);
  margin: 5px;
  box-shadow: var(--box-shadow);
}

.payments_icons {
  width: 60px;
  height: 30px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}


@media (max-width: 850px) {
  body {
    display: none;
  }
  html:after {
    content: 'No Mobile Adaptive. Enter from Desktop';
    font-family: var(--font);
  }
}


